*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* Preset */

.mt-30px{
    margin-top: 30px;
}

.mb-30px{
    margin-bottom: 30px;
}

/* Header */

header{
    background-color: violet;
    height: 100px;
}

/* Main content */

.main-content{
    background-color: #cfcf17;
    width: 100%;
    height: 400px;
}

